# 복합자료형LIST

여러개의 값을 묶어서 하나의 변수로 다루는 자료형 

생성법 
1. [] 대괄호 사용
2. 데이터는 , 로 구분
3. [] 빈 대괄호는 초기화
4. 숫자, 문자, 불, 리스트 같은 객체 모두 담을 수 있다
5. 순서 INDEX를 가진다 0 시작
6. 음수 인덱스도 가진다

In [2]:
score = [30, 20, 50, 60]
score[1]

20

In [3]:
type(score), type(score[0])

(list, int)

In [6]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
ra = range(10)

In [11]:
num_list = list(ra)

In [12]:
num_list[-1]

9

In [15]:
ra2 = range(0,21,2) # -> 주인이 없는 함수 -> 함수(function)
list(ra2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
ra2.__len__() # -> 주인이 있는 함수 -> method

11

In [19]:
num_list.count(0)     #. tab -> all method

1

method와 function

method: 객체의 한해서 동작하는 함수 > 객체형.함수()   
function: function(매개변수) > 매개변수로 동작하는 함수 

dir() > function   
list_obj.len() > method

In [24]:
str_1 = 'hello'
#str_1[0] = "H" #typeerror >  str immutable

'h'

In [28]:
str_2 = list(str_1) #문자열 . 문자열리스트 >mutable
str_2[0] = "H"
''.join(str_2)

'Hello'

In [39]:
#리스트의 생성
a = list()
a = []
b = [1, 2, 3, 4, 5]
c= ["aaa", "bbb", "ccc"]
d= ["1", "2", "ccc","bbb"]
e = [c,d]

In [40]:
e[0], e[-1]

(['aaa', 'bbb', 'ccc'], ['1', '2', 'ccc', 'bbb'])

In [41]:
e[1][2][0:1] , e[0:1]

('c', [['aaa', 'bbb', 'ccc']])

In [42]:
e[1][-1]

'bbb'

In [51]:
score = [[1,2],[3,4]]
score

[[1, 2], [3, 4]]

copy   
1. shallow copy
2. deep copy

In [ ]:
new_score = score[:] #같은카피!!! 조심해야함!
new_score[0][0] = 100
print(new_score)
print(score)

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]

In [58]:
import copy
copied = copy.copy(score)
copied[0][1] = 99
copied
# 값만 복제 ->  copy.deepcopy
deepcopied = copy.deepcopy(score)
deepcopied[1][0]=80
print(deepcopied)
print(score)

[[100, 99], [80, 4]]
[[100, 99], [3, 4]]

# 리스트의 연산

- + add()
- * mul()
del list

In [70]:
lunch1=['해물라면', '샐러드', '떡볶이']
lunch2=['주먹밥','볶음밥','떡볶이']

lunch1+lunch2

['해물라면', '샐러드', '떡볶이', '주먹밥', '볶음밥', '떡볶이']

In [71]:
del lunch1[0]
lunch1

['샐러드', '떡볶이']

In [73]:
lunch = lunch1+lunch2
del lunch[-1]
lunch

['샐러드', '떡볶이', '주먹밥', '볶음밥']

In [74]:
"떡볶이" in lunch

True

In [3]:
# 간식박스 관리 프로그램
snack_box = ["감자칩", "구운감자", "뿌셔뿌셔"]
new_snack = input("먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요").split(",")
snack_box += new_snack
snack_box

먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 팝콘

['감자칩', '구운감자', '뿌셔뿌셔', '팝콘']

In [4]:
qty = int(input("간식박스 몇 세트로 포장할까요? 예: 2 -> 2box"))
snack_box *= qty
snack_box

간식박스 몇 세트로 포장할까요? 예: 2 -> 2box 2

['감자칩', '구운감자', '뿌셔뿌셔', '팝콘', '감자칩', '구운감자', '뿌셔뿌셔', '팝콘']

In [5]:
print(f'주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]}등입니다. 확인해주세요.')

주문하신 간식상자는 감자칩,구운감자,뿌셔뿌셔등입니다. 확인해주세요.

In [6]:
msg = (f"혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})")
no_menu = int(input(msg))
del snack_box[no_menu]
print(snack_box)

혹시 빼고 싶은 간식이 있으면 번호를 입력하세요 (0~7) 2

['감자칩', '구운감자', '팝콘', '감자칩', '구운감자', '뿌셔뿌셔', '팝콘']

['뿌셔뿌셔', '사이다', ' 새우깡', '감자칩', '구운감자', '뿌셔뿌셔', '사이다', ' 새우깡']

In [9]:
# 간식박스 관리 프로그램
# 찾고 싶은 간식 번호를 입력하세요 
# 있어요 or 없어요 출력 
search_name = input("찾고 싶은 간식을 있으면 이름를 입력하세요: ").strip()
if search_name in snack_box:
    print("있어요")
else:
    print("없어요")

찾고 싶은 간식을 있으면 이름를 입력하세요:   팝콘

있어요

없어요

In [98]:
print("주문하신 간식박스는 뒤에서부터 다음과 같습니다.")
print(f"{snack_box[::-1]}, total num: {len(snack_box)}")

주문하신 간식박스는 뒤에서부터 다음과 같습니다.
[' 새우깡', '사이다', '뿌셔뿌셔', '구운감자', '감자칩', ' 새우깡', '사이다', '뿌셔뿌셔'], total num: 8

# 리스트의 method


| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

# 연산자 
- 비식별 연산자
1. 수치연산 : 사칙연산
    add() -> 측별 method를 정의하고 객체연산을 쓸 수 있다
   숫자일 때는 기본 연산
   형 변환이 자동으로 일어난다 int+float > float, int/int > float
   
2. 대입연산 : assign, 할당 '='
    변수 = 값
    자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ()가 자동으로 적용
   
3. 비교연산
   '=' 와 '=='
   '!=' '>=' '<='

    리스트의 비교 '==' > 내용이 같은가?   
    리스트의 비교 'is' > 주소가 같은가?   
    리스트의 주소'id()'가 같은가? > 메모리 영역이 같은가를 비교 

7. 논리연산
    and, or, not
    &, &&, |
- 식별 연산자
1. is, is not

In [39]:
a=5
b=2
a *= (2+b) 
a

20

In [13]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [22]:
students[0]['total'] = (students[0]['kor'] 
                        + students[0]['eng'] 
                        + students[0]['math'])

print(students[0]['total'])

students[1]['total'] = (students[1]['kor'] 
                        + students[1]['eng'] 
                        + students[1]['math'])
print(students[1]['total'])

students[2]['total'] = (students[2]['kor'] 
                        + students[2]['eng'] 
                        + students[2]['math'])
print(students[2]['total'])

255
265
240

In [30]:
# for문에서는 리스트의 요소를 하나씩 꺼낼 수 있다 : in 키워드
for student in students:     
    student['total'] = (student['kor'] + student['eng'] + student['math'])
    student['avg'] = (student['total']/3)
    print(student['total'], round(student['avg'],1)) # 1dec

255 85.0
265 88.3
240 80.0

In [37]:
#studnets order
for studnet in students: #studnts[0]
    rank = 1
    for other in students:
        if other['total'] > studnet ['total']:
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

print(students)

홍길동 2
홍길동 1
홍길동 3
[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 3}]

In [38]:
for student in students:
    print(student['name'],student['order'],student['total'],student['avg'])

김철수 0 255 85.0
박제동 0 265 88.33333333333333
홍길동 3 240 80.0

In [43]:
lunch1 = ["주먹밥", "치킨", "칼국수"]
lunch2 = ["주먹밥", "치킨", "칼국수"]

lunch1 == lunch2 #값의 비교

True

In [45]:
id(lunch1) == id(lunch2) #주소값을 비교
lunch1 is lunch2 #주소를 비교

False

# 리스트에 많이 쓰는 내장 함수들

type()   
sorted(): sort list   
dir(): available dic   
id(): id check   
len(): no of contents on the list   
sum(): all value of sum from the list   
max(): max value from the list    
min(): min value from the list

In [54]:
lst = ["가나디", "나팔꽃", "다다미"]
lst_num = [ 20, 60, 5, 7]
print(max(lst_num))
print(min(lst_num))
print(sum(lst_num))
print(len(lst_num))
print(dir(lst_num))
print(sorted(lst_num))

60
5
92
4
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
[5, 7, 20, 60]

# list quiz

In [8]:
#Q1
lst = [1,2,3,4,5]
lst = lst[::-1]
# or lst.sort(reverse=True)
print(lst)
#Q2
words = ['Life','is','too','short']
sentence = " ".join(words)
print(sentence)
#Q3 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())
#[3, 5, 7, 9, 1]
lst2 = [1, 3, 5, 7, 9]
lst2.append(lst2.pop(0))
print(lst2)

[5, 4, 3, 2, 1]
Life is too short
[3, 5, 7, 9, 1]

In [14]:
#38
상장주식수 = "5,969,782,550"
rm_comma = int(상장주식수.replace(",",""))
print(rm_comma)

5969782550

# 딕셔너리

{키: 값, 키:값}

In [27]:
person = {'이름':'Alice', '나이':20, '도시':'서울'}
# 유니크한 키
person[0] = "bob" #key create
person[0] = "hihi"
person

{'이름': 'Alice', '나이': 20, '도시': '서울', 0: 'hihi'}

In [24]:
person2 = dict(이름="신윤서", 나이=23, 도시='서울')

{'이름': '신윤서', '나이': 23, '도시': '서울'}

In [29]:
type(person)
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [30]:
print(person.items()) #list로 만들어서 돌려줌

dict_items([('이름', 'Alice'), ('나이', 20), ('도시', '서울'), (0, 'hihi')])

In [36]:
keys = person.keys() # key만 돌려줌
type(keys)

dict_keys

In [37]:
for k in keys:
    print(k)

이름
나이
도시
0

In [41]:
items = person.items()
for i in items:
    print(i)

('이름', 'Alice')
('나이', 20)
('도시', '서울')
(0, 'hihi')

In [42]:
values = person.values()
for v in values:
    print(v)

Alice
20
서울
hihi

In [43]:
#update() 딕셔너리에 딕셔너리를 추가
person.update(person2)
person

{'이름': '신윤서', '나이': 23, '도시': '서울', 0: 'hihi'}

In [44]:
#person3를 추가해도 
#키가 같으므로, 값이 업데이트
person['이름'] = 'alice'

In [48]:
person3 = {'성별':'여자', '취미':'판타지'} #키가 다르면 추가, 키가 같으면 업데이트 
person.update(person3)
person

{'이름': 'alice', '나이': 23, '도시': '서울', 0: 'hihi', '성별': '여자', '취미': '판타지'}

In [69]:
store_name = 'code cafe'
menu_list = ['chai latte', 'latte', 'long black']
price_list = [4500, 4000, 3500]

print('*'*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다\n')
print("No.  Menu          Price")
print("-" * 26)

for i in range(len(menu_list)) :
    print(f"{i+1:<4} {menu_list[i]:<13} {price_list[i]:>6}")
print("-" * 26)
print("\n")
order_name = int(input('주문할 메뉴 변호를 입력하세요 : ')) -1
qty = int(input('주문할 수량을 입력하세요 : '))
total_price = price_list[order_name] * qty

print(f"\n주문하신 메뉴는 {menu_list[order_name]}입니다. 결제하실 금액은 {total_price}원 입니다.")
print("감사합니다!!")

****************************************
어서오세요 code cafe에 오신것을 환영합니다

No.  Menu          Price
--------------------------
1    chai latte      4500
2    latte           4000
3    long black      3500
--------------------------

주문할 메뉴 변호를 입력하세요 :  2
주문할 수량을 입력하세요 :  1

주문하신 메뉴는 latte입니다. 결제하실 금액은 4000원 입니다.
감사합니다!!

In [ ]:
# dic version
store_name = 'code cafe'
menu_lst = [{'name':'chai latte', 'price' : 4500},
           {'name':'latte', 'price' : 4000},
           {'name':'long black', 'price' : 3500},
           {'name':'matcha latte', 'price' : 5500}]

print('*'*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다\n')
print("No.  Menu          Price")
print("-" * 26)

for i, menu in enumerate(menu_lst) :
    print(f"{i+1:<4} {menu['name']:<13} {menu['price']:>6}")
print("-" * 26)
print("\n")
order_num = int(input('주문할 메뉴 변호를 입력하세요 : ')) -1
qty = int(input('주문할 수량을 입력하세요 : '))
total_price = menu_lst[order_num]['price'] * qty
order_name = menu_lst[order_num]['name']

print(f"\n주문하신 메뉴는 {order_name}입니다. 결제하실 금액은 {total_price}원 입니다.")
print("감사합니다!!")

In [1]:
menu_list = [ 
    {'name': '요거트 아이스크림', 'price': 3000},
    {'name':'바나나','price':4000},
    {'name':'딸기','price':5000},
    {'name':'벌집꿀','price':7000},
    {'name':'그레놀라','price':7000},
    {'name':'초코쉘','price':7000},
]
print('*'*40)
print('어서오세요, ‘요렇게’에 오신것을 환영합니다:)\n')


print("Menu\t\t\tPrice")
print("-" * 30)
print("요거트 아이스크림(250g)\t6,000")
print("-" * 30)

print("\nNo.  Topping\t\tPrice")
print("-" * 30)
for idx, item in enumerate(menu_list, start=1):
    print(f"{idx:<5} {item['name']:<10}\t{item['price']:,}")
print("-" * 30)
print("*" * 40)

#for i, item in enumerate(menu_list, start=1):
 #    print(f"{i}. {item["name"]} : {item['price']}원")
#print("메뉴를 선택해주세요");

cart = []
#기본 요거트 아이스크림 
default_item = menu_list[0]
cart.append({'name': default_item['name'], 'price': default_item['price'], 'quantity': 1})
total_price = 3000

while True:
    #토핑 고르기 
    choice = input("\n추가할 메뉴 번호를 입력하세요 (종료: 0): ").strip()

    if choice == "0":
        break

    if choice.isdigit() and 1 <= int(choice) <= len(menu_list):
        quantity = input("추가할 개수를 입력하세요: ").strip()
        if quantity.isdigit() and int(quantity) > 0:
            selected_item = menu_list[int(choice) - 1]
            qty = int(quantity)
            found = False

            for item in cart:
                if item['name'] == selected_item['name']:
                    item['quantity'] += qty
                    found = True
                    break

            if not found:
                cart.append({'name': selected_item['name'], 'price': selected_item['price'], 'quantity': qty})

            print(f"'{selected_item['name']}' {qty}개가 장바구니에 추가되었습니다.")
            total_price += selected_item["price"] * qty
        else:
            print("올바른 개수를 입력하세요.")
    else:
        print("올바른 메뉴 번호를 입력하세요.")

# 장바구니 보여주기
print("\n" + "=" * 40)
print("현재 장바구니")
for i, item in enumerate(cart, start=1):
    print(f"{i}. {item['name']} x {item['quantity']} = {item['price'] * item['quantity']:,}원")
print("-" * 40)
print(f"Total = {total_price:,}원")

# 토핑 완료/삭제/추가 옵션 고르기 
print(" - 토핑 완료 1\n - 토핑을 삭제하려면 2\n - 토핑을 추가하려면 3\n")
select = int(input("번호를 입력해주세요 : "))


print("\n최종 장바구니 목록:")
if cart:
    for i, item in enumerate(cart, start=1):
        print(f"{i}. {item['name']} : {item['price']}원")
        total_price += item['price']  # 가격 누적
    print("-" * 40)
    print(f"총 결제 금액: {total_price:,}원")
    print("카드를 넣어주세요.")
    print("계산이 완료 되었습니다:)")
else:
    print("장바구니가 비어 있습니다.")

****************************************
어서오세요, ‘요렇게’에 오신것을 환영합니다:)

Menu			Price
------------------------------
요거트 아이스크림(250g)	6,000
------------------------------

No.  Topping		Price
------------------------------
1     요거트 아이스크림 	3,000
2     바나나       	4,000
3     딸기        	5,000
4     벌집꿀       	7,000
5     그레놀라      	7,000
6     초코쉘       	7,000
------------------------------
****************************************

추가할 메뉴 번호를 입력하세요 (종료: 0):  1
추가할 개수를 입력하세요:  2

'요거트 아이스크림' 2개가 장바구니에 추가되었습니다.

추가할 메뉴 번호를 입력하세요 (종료: 0):  3
추가할 개수를 입력하세요:  2

'딸기' 2개가 장바구니에 추가되었습니다.

추가할 메뉴 번호를 입력하세요 (종료: 0):  0

========================================
현재 장바구니
1. 요거트 아이스크림 x 3 = 9,000원
2. 딸기 x 2 = 10,000원
----------------------------------------
Total = 19,000원
 - 토핑 완료 1
 - 토핑을 삭제하려면 2
 - 토핑을 추가하려면 3

번호를 입력해주세요 :  1

최종 장바구니 목록:
1. 요거트 아이스크림 : 3000원
2. 딸기 : 5000원
----------------------------------------
총 결제 금액: 8,000원
카드를 넣어주세요.
계산이 완료 되었습니다:)

# 튜플
리스트와 비슷,  변경 안되는 특징을 가진다.

In [2]:
a = tuple()
a, type(a)

((), tuple)

In [3]:
b = (1)
b, type(b)

(1, int)

In [6]:
bb = (1, ) #!!!!
bb, type(bb)

((1,), tuple)

In [8]:
#tuple의 ()괄호는 생략 가능
#쉽표로 요소는 하나 이상이여야 한다

fruits = 'apple', 'peach', 'orange'
fruits, type(fruits)

(('apple', 'peach', 'orange'), tuple)

In [10]:
# 패킹, 언패킹

nums = [1,2,3]
a,b,c = nums  #list unpacking
a,b,c

(1, 2, 3)

In [11]:
#s = 'hello' > error 
s = 'hi'
a,b = s
s

'hi'

In [16]:
s = 'hello' # packing
a, *b = s #unpacking * - rest
a, *b, c = s
a, b, c

('h', ['e', 'l', 'l'], 'o')

In [20]:
studnet = ('Iris', 23,28, '1학년') #packing
studnet

('Iris', 23, 28, '1학년')

In [22]:
name, *age, grade = studnet #unpacking
f'이름은 {name}이고요, 나이는 {age}이고요, {grade}입니다.'

'이름은 Iris이고요, 나이는 [23, 28]이고요, 1학년입니다.'

In [27]:
#미션
x=1
y=2
#x=2, y=1

n = (1,2)
y, x = n

x, y = y, x # tuple에 packing&unpacking 
x, y

(1, 2)

In [31]:
#함수의 정의
def func_a(a,b,c):
    print(a,b,c)
    return c,b,a

#함수의 호출
result = func_a(5,4,3)
#함수의 반환값
result

5 4 3

(3, 4, 5)

In [32]:
a1,b1,c1 = func_a(1,2,3)
a1,b1,c1

1 2 3

(3, 2, 1)

In [33]:
#tuple에 값을 추가하려면
# 형변환 > 리스트

In [34]:
name_tuple = ('가연', '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [37]:
name_lst = list(name_tuple)
name_lst.append('유석')
name_lst

['가연', '지훈', '지희', '유석']

In [38]:
name_tuple = tuple(name_lst)
name_tuple

('가연', '지훈', '지희', '유석')

In [39]:
dir (name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [46]:
#__add__ +
team_name = ('a', 'b', 'c')
add_team = ('d',)
new_team = team_name + add_team # new_team = team_name.__add__(add_team)

#__mul__ *
team_name1 = ('a', 'b', 'c')
new_team2 = team_name1.__mul__(3)

new_team, new_team2

(('a', 'b', 'c', 'd'), ('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c'))

In [47]:
new_team[0]

'a'

# 집합 (set)
set(), {}
중복이 안된다, 순서/키도 없다
속도가 빠르다

In [48]:
s = set({1,2.3})
s

{1, 2.3}

In [50]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [52]:
s2 = {1,2,3,1}
s2 #중복을 제외한 것들을 꺼낸다

{1, 2, 3}

In [61]:
l2 = [1,2,3]
l2 = l2*2
l2

[1, 2, 3, 1, 2, 3]

In [62]:
#set으로 중복을 제거한다
s3 = set(l2)
s3

{1, 2, 3}

In [63]:
l3 = l2+[4,5,6]
l3

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [64]:
l2.append([4,5,6])
l2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [81]:
hash('hi') # hash code 값 > hashing 가능 '문자열'

-1020678816333361838

In [67]:
hash(123) #hashing 가능 int, float, boolean

123

In [88]:
set(['hi', 123]) #해싱으로 바뀐 값을 저장 > 집합 연산

{123, 'hi'}

In [136]:
'''
l1 = [1,2,3]
hash(l1) #unhashable type: 'list'
'''

"\nl1 = [1,2,3]\nhash(l1) #unhashable type: 'list'\n"

In [137]:
#set([123,[1,2,3]])

In [70]:
#hash({1,2,3})

# set 집합 연산

- 교집합 & , intersection()
- 합지합 | , union()
- 차집합 - , difference()

e.g)   
s = set([1,2,3,4])   
x = {2,3,4}   
y = {3,4,5}   

x & y > {3, 4}   
s | x > {1, 2, 3, 4}   
x - y > {2}

In [74]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [92]:
x & y

{3, 4}

In [80]:
s | x
s.union(x)

{1, 2, 3, 4}

In [78]:
x - y

{2}

In [94]:
#1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

result = numbers[0]+numbers[-1]
result

110

In [97]:
#2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

result = colors[:3]+colors[-2:]
result

['red', 'green', 'blue', 'orange', 'black']

In [127]:
#3.다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

result = list_a[-1][1]
result

'korean'

In [129]:
for sub in list_a:
    for item in sub:
        if item == "korean":
            print(item)

korean

In [101]:
#4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = list_a+list_b
list_c

[1, 2, 3, 4, 5, 6]

In [105]:
#5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

tuple_a = ("apple", "banana", "cherry")
lst_a = list(tuple_a)
lst_a[1] = 'blueberry'
tuple_a = tuple(lst_a)
tuple_a

('apple', 'blueberry', 'cherry')

In [109]:
# 6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.
a = 5
b = 10
c = 15

tuple_a = (a,b,c)
tuple_a, type(tuple_a)

((5, 10, 15), tuple)

In [112]:
#7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

numbers = (92, 89, 72, 31, 71, 33, 19)

max_nums = max(numbers)
min_nums = min(numbers)

max_nums, min_nums

(92, 19)

In [119]:
#8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
student = {"name": "Alice",
           "age": 24,
           "major": "Computer Science"}

#9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요
for key, value in student.items():
    print(f"{key}: {value}")

#10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요
student["age"] = 26

name: Alice
age: 24
major: Computer Science

In [131]:
#11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

# name 값을 리스트로
name_list = []
age_lst = []
for info in students.values():
    name_list.append(info["name"])
    age_lst.append(info["age"])
# name_list = [info["name"] for info in students.values()]

# age 값을 튜플로
age_tuple = tuple(age_lst)

print("이름 리스트:", name_list)
print("나이 튜플:", age_tuple)

이름 리스트: ['Alice', 'Bob', 'Charlie']
나이 튜플: (24, 22, 23)

In [135]:
name_list2 = []
age_lst2 = []
for key in students.keys():
    stu = students[key]
    name_list2.append(stu["name"])
    age_lst2.append(stu["age"])

age_tuple2 = tuple(age_lst2)
name_list2, age_tuple2

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))