In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql
#mysql ì„œë²„ì— ì—°ê²° 
con = pymysql.connect(host='localhost', user='root', password='1234', db='my_db', charset='utf8')
con
cursor = con.cursor()

In [12]:
sql_query='''SELECT ename, sal, job
FROM emp;
'''
cursor.execute(sql_query)

result = cursor.fetchall()
result

(('SMITH', Decimal('800.00'), 'CLERK'),
 ('ALLEN', Decimal('1600.00'), 'SALESMAN'),
 ('WARD', Decimal('1250.00'), 'SALESMAN'),
 ('JONES', Decimal('2975.00'), 'MANAGER'),
 ('MARTIN', Decimal('1250.00'), 'SALESMAN'),
 ('BLAKE', Decimal('2850.00'), 'MANAGER'),
 ('CLARK', Decimal('2450.00'), 'MANAGER'),
 ('SCOTT', Decimal('3000.00'), 'ANALYST'),
 ('KING', Decimal('5000.00'), 'PRESIDENT'),
 ('TURNER', Decimal('1500.00'), 'SALESMAN'),
 ('ADAMS', Decimal('1100.00'), 'CLERK'),
 ('JAMES', Decimal('950.00'), 'CLERK'),
 ('FORD', Decimal('3000.00'), 'ANALYST'),
 ('MILLER', Decimal('1300.00'), 'CLERK'))

In [14]:
import pandas as pd 
pd.DataFrame(result)

         0        1          2
0    SMITH   800.00      CLERK
1    ALLEN  1600.00   SALESMAN
2     WARD  1250.00   SALESMAN
3    JONES  2975.00    MANAGER
4   MARTIN  1250.00   SALESMAN
5    BLAKE  2850.00    MANAGER
6    CLARK  2450.00    MANAGER
7    SCOTT  3000.00    ANALYST
8     KING  5000.00  PRESIDENT
9   TURNER  1500.00   SALESMAN
10   ADAMS  1100.00      CLERK
11   JAMES   950.00      CLERK
12    FORD  3000.00    ANALYST
13  MILLER  1300.00      CLERK

In [17]:
# ì—°ê²°ê³¼ ì»¤ì„œ ë‹«ê¸°
cursor.close()
con.close()

Error: Already closed

In [2]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# ì—°ê²°ì •ë³´ ê´€ë¦¬ 
import MySQLdb
# MySQL ì„œë²„ì— ì—°ê²°
db_config = {
'host' :'localhost',  # í˜¸ìŠ¤íŠ¸ ì´ë¦„
'user' : 'root', # MySQL ì‚¬ìš©ì ì´ë¦„
'passwd' : '1234', # MySQL ì‚¬ìš©ì ë¹„ë°€ë²ˆí˜¸
'db' : 'my_db', # ì—°ê²°í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
'charset' : 'utf8'
}
print('hello')

try:
    conn = MySQLdb.connect(**db_config) # ì»¤ì„œ ìƒì„±
    cursor = conn.cursor() # ì¿¼ë¦¬ ì‹¤í–‰ ì˜ˆì‹œ
    sql_query = "SELECT * FROM dept"
    cursor.execute(sql_query) # ì¿¼ë¦¬ ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
    result = cursor.fetchall() # ê²°ê³¼ ì¶œë ¥
    for row in result:
        print(row)
except MySQLdb.Error as e:
    print(f"Error: {e}")
finally: # ì—°ê²°ê³¼ ì»¤ì„œ ë‹«ê¸°
    cursor.close()
    conn.close()

hello
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [5]:

pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (2.0.41)
Requirement already satisfied: pymysql in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\miniconda3\envs\hipython\lib\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:1234@localhost/my_db")
df = pd.read_sql("SHOW TABLES IN my_db;", engine)
tables = pd.read_sql("SELECT * FROM dept", engine)
print(df)
tables.head()

  Tables_in_my_db
0            dept
1             emp
2        salgrade

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [3]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7924\2756419709.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [5]:
# products í…Œì´ë¸” ì •ì˜
class Product(Base):
    __tablename__ = 'products_1'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    price = Column(Integer, nullable=False)
    stock = Column(Integer, nullable=False)

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price}, stock={self.stock})>"

# í…Œì´ë¸” ìƒì„±
Base.metadata.create_all(engine)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7924\524790596.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Product, and will be replaced in the string-lookup table.
  class Product(Base):

InvalidRequestError: Table 'products_1' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [6]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
#CREATE ìƒí’ˆë“±ë¡ 
def add_product(name, price, stock):
    new_product = Product(name=name, price=price, stock=stock)
    session.add(new_product) #insert 
    session.commit()
    print(f"ğŸ†• '{name}' ìƒí’ˆì´ ë“±ë¡ë˜ì—ˆìŠµë‹ˆë‹¤!")


add_product("ë¡¤ë¦¬íŒ", 500, 10)
add_product("í•«ì´ˆì½”", 2000, 10)

ğŸ†• 'ë¡¤ë¦¬íŒ' ìƒí’ˆì´ ë“±ë¡ë˜ì—ˆìŠµë‹ˆë‹¤!
ğŸ†• 'í•«ì´ˆì½”' ìƒí’ˆì´ ë“±ë¡ë˜ì—ˆìŠµë‹ˆë‹¤!

In [8]:
# READ
def list_products():
    products = session.query(Product).all()
    for p in products:
        print(p)

list_products()

<Product(id=1, name='ë¡¤ë¦¬íŒ', price=500, stock=10)>
<Product(id=2, name='í•«ì´ˆì½”', price=2000, stock=10)>

In [9]:
# UPDATE ê°€ê²©ìˆ˜ì • 
def update_price(product_id, new_price):
    product = session.query(Product).get(product_id)
    if product:
        product.price = new_price
        session.commit()
        print(f"ğŸ’¸ {product.name}ì˜ ê°€ê²©ì´ {new_price}ì›ìœ¼ë¡œ ë³€ê²½ë˜ì—ˆìŠµë‹ˆë‹¤.")
    else:
        print("âŒ í•´ë‹¹ ìƒí’ˆì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.")

update_price(2, 3000)

ğŸ’¸ í•«ì´ˆì½”ì˜ ê°€ê²©ì´ 3000ì›ìœ¼ë¡œ ë³€ê²½ë˜ì—ˆìŠµë‹ˆë‹¤.

C:\Users\Admin\AppData\Local\Temp\ipykernel_7924\2813803386.py:3: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

In [10]:
# DELETE ìƒí’ˆ ì‚­ì œ 
def delete_product(product_id):
    product = session.query(Product).get(product_id)
    if product:
        session.delete(product)
        session.commit()
        print(f"ğŸ—‘ï¸ '{product.name}' ìƒí’ˆì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.")
    else:
        print("âŒ í•´ë‹¹ ìƒí’ˆì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.")
        
delete_product(3)

âŒ í•´ë‹¹ ìƒí’ˆì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.

C:\Users\Admin\AppData\Local\Temp\ipykernel_7924\700563098.py:3: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

In [11]:
try:
    # ì‘ì—…
    product = session.query(Product).get(1)
    product.price += 500
    session.commit()
except Exception as e:
    session.rollback()
    print("ì˜ˆì™¸ ë°œìƒ, ë¡¤ë°±:", e)
finally:
    session.close()
    print("ì„¸ì…˜ ì¢…ë£Œ")

ì„¸ì…˜ ì¢…ë£Œ

C:\Users\Admin\AppData\Local\Temp\ipykernel_7924\1734247740.py:3: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(1)