도서정보객체

In [26]:
class Book:
    def __init__(self, rank, title, author, price):
        self.rank = rank
        self.title = title
        self.author = author
        self.price = price

    def __str__(self):
        return f"{self.rank}, {self.title}, {self.author}, {self.price}"
    
    def to_dict(self):
        return {'rank':self.rank, 
                'title':self.title, 
                'author':self.author, 
                'price':self.price}
    
    def to_list(self):
        return [self.rank, 
                self.title, 
                self.author, 
                self.price]

In [3]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.yes24.com/Product/Category/BestSeller?categoryNumber=001'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')
best_list_el = soup.select('#yesBestList div.item_info')
len(best_list_el)

24

In [4]:
book_list = []
for i, item in enumerate(best_list_el):
    title = item.select_one('div.info_name > a').text
    author = item.select_one(' .info_auth > a').text
    price = item.select_one('div.info_price .txt_num').text
    book_list.append(Book(i+1,title,author,price))
    
book_list

for book in book_list:
    print(book)

1, 혼모노, 성해나, 16,200원
2, 류수영의 평생 레시피, 류수영, 22,500원
3, 가공범, 히가시노 게이고, 19,800원
4, 돌비공포라디오 더 레드, 돌비, 17,820원
5, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상, 최태성, 14,850원
6, 박곰희 연금 부자 수업, 박곰희, 18,900원
7, 2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급), 최태성, 17,550원
8, 단 한 줄만 내 마음에 새긴다고 해도, 나민애, 21,420원
9, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하, 최태성, 14,400원
10, ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC, ETS, 17,820원
11, ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC, ETS, 17,820원
12, 료의 생각 없는 생각, 료, 18,000원
13, 모순, 양귀자, 11,700원
14, 안녕이라 그랬어, 김애란, 15,120원
15, 자몽살구클럽, 한로로, 10,800원
16, 인생을 바꾸는 최고의 ETF, 잼투리, 22,050원
17, 청춘의 독서, 유시민, 17,010원
18, 소년이 온다, 한강, 13,500원
19, 첫 여름, 완주, 김금희, 15,300원
20, 경험의 멸종, 크리스틴 로젠, 17,820원
21, 어른의 행복은 조용하다, 태수, 16,020원
22, 견우와 선녀 대본집 세트, 양지훈, 41,400원
23, 어른의 품격을 채우는 100일 필사 노트, 김종원, 18,000원
24, 야구선수 김원중, 김원중, 18,000원

In [5]:
query = '''
    CREATE TABLE IF NOT EXISTS BOOKS(
        RANK INTEGER PRIMARY KEY,
        TITLE TEXT,
        AUTHOR TEXT,
        PRICE INTEGER)'''

In [6]:
import sqlite3
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()
cursor.execute(query)
conn.commit()
conn.close()

In [7]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

In [8]:
ins_query = '''
    INSERT INTO books (rank, title, author, price) VALUES (?,?,?,?)
'''

for book in book_list:
    cursor.execute(ins_query, book.to_list())

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: BOOKS.RANK

In [29]:
pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (2.3.1)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp310-cp310-win_amd64.whl.metadata (7.5 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\miniconda3\envs\webcrawl_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.4.0-cp310-cp310-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   -------------------------- ------------- 11.0/16.4 MB 57.2 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 54.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
Note: you may need to restart the kernel to use updated packages.

## db table에서 읽어오기

In [9]:
def fetch_book_list_from_db():
  conn = sqlite3.connect('my_database.db')
  cursor= conn.cursor()
  try:
    cursor.execute('select * from books')
    rows = cursor.fetchall()
    return rows
  finally:
    conn.close()

In [10]:
books = fetch_book_list_from_db()
for book in books:
  print(book)

(1, '혼모노', '성해나', '16,200원')
(2, '류수영의 평생 레시피', '류수영', '22,500원')
(3, '가공범', '히가시노 게이고', '19,800원')
(4, '돌비공포라디오 더 레드', '돌비', '17,820원')
(5, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상', '최태성', '14,850원')
(6, '박곰희 연금 부자 수업', '박곰희', '18,900원')
(7, '2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급)', '최태성', '17,550원')
(8, '단 한 줄만 내 마음에 새긴다고 해도', '나민애', '21,420원')
(9, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하', '최태성', '14,400원')
(10, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC', 'ETS', '17,820원')
(11, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC', 'ETS', '17,820원')
(12, '료의 생각 없는 생각', '료', '18,000원')
(13, '모순', '양귀자', '11,700원')
(14, '안녕이라 그랬어', '김애란', '15,120원')
(15, '자몽살구클럽', '한로로', '10,800원')
(16, '인생을 바꾸는 최고의 ETF', '잼투리', '22,050원')
(17, '청춘의 독서', '유시민', '17,010원')
(18, '소년이 온다', '한강', '13,500원')
(19, '첫 여름, 완주', '김금희', '15,300원')
(20, '경험의 멸종', '크리스틴 로젠', '17,820원')
(21, '어른의 행복은 조용하다', '태수', '16,020원')
(22, '견우와 선녀 대본집 세트', '양지훈', '41,400원')
(23, '어른의 품격을 채우는 100일 필사 노트', '김종원', '18,000원')
(24, '야구선수 김원중', '김원중', '18,000원')

In [20]:
#  SQLite에 books 테이블 생성
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# 테이블 만들기
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY,
    title TEXT,
    author TEXT,
    price TEXT
)
''')

conn.commit()

In [27]:
# 여러페이지 가져오기 
base_url = 'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber='
page_no = 4
book_list = []
book_id = 1

for page in range (1, page_no+1):
    url = f'{base_url}{page}'
    # print(url)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    best_list_el = soup.select('#yesBestList div.item_info')
    
    #요소 추출
    for i, item in enumerate(best_list_el):
        title = item.select_one('div.info_name > a').text
        author = item.select_one(' .info_auth > a').text
        price = item.select_one('div.info_price .txt_num').text
        book_list.append(Book(book_id,title,author,price))
        book_id += 1
len(book_list)

# 2. SQLite 연결 및 테이블 생성
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS books")
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT,
    author TEXT,
    price TEXT
)
''')

# 3. 데이터 저장
for book in book_list:
    cursor.execute(
        "INSERT INTO books VALUES (?, ?, ?, ?)",
        (book.id, book.title, book.author, book.price)
    )

conn.commit()
conn.close()

AttributeError: 'Book' object has no attribute 'id'

In [ ]:
import sqlite3
import mysql.connector

# 1. SQLite 연결
sqlite_conn = sqlite3.connect('my_database.db')
sqlite_cursor = sqlite_conn.cursor()

# 2. MySQL 연결
mysql_conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='분석실습',
    charset='utf8mb4'
)
mysql_cursor = mysql_conn.cursor()

# 3. MySQL에 BOOKS 테이블이 없다면 생성
mysql_cursor.execute('''
CREATE TABLE IF NOT EXISTS BOOKS (
    id INT PRIMARY KEY,
    title VARCHAR(255),
    author VARCHAR(255),
    price VARCHAR(20)
)
''')

# 4. SQLite에서 데이터 가져오기
sqlite_cursor.execute("SELECT * FROM BOOKS")
rows = sqlite_cursor.fetchall()

# 5. 데이터 삽입 (형식 맞춰서)
for row in rows:
    # price 문자열이면 정제 필요: '16,200원' → '16200'
    id_, title, author, price = row
    clean_price = price.replace(',', '').replace('원', '')
    
    mysql_cursor.execute(
        "INSERT INTO BOOKS (id, title, author, price) VALUES (%s, %s, %s, %s)",
        (id_, title, author, clean_price)
    )

mysql_conn.commit()
print("완료")

완료