# 함수

- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름   

- 함수 정의 > 호출

In [1]:
def my_func():
    print("my first function")
    print('hi!!!!')

In [3]:
my_func()

my first function
hi!!!!

In [4]:
my_func_var = my_func()

my first function
hi!!!!

In [7]:
#return이 없음 
print(my_func_var)

None

In [8]:
def my_func():
    print("my first function")
    print('hi!!!!')
    return '1'

In [9]:
#입력값이 있는 함수값

In [12]:
def my_calc(x):
    print(f'(x)를 계산합니다. :')
    z = x + 20
    return z

In [13]:
my_calc(40)

(x)를 계산합니다. :

60

In [15]:
def my_calc2(x,y):
    print(f'(x)를 계산합니다. :')
    z = x + y
    return z

In [16]:
my_calc2(2,4)

(x)를 계산합니다. :

6

In [20]:
func_result1, f2 = my_calc2(10, 10) # unpacking
func_result1

(x)를 계산합니다. :

TypeError: cannot unpack non-iterable int object

In [23]:
def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [25]:
my_calc3(10,[1,2,3])

11

함수의 매개변수 목록은 변수명이 매개변수 명이다.
애개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

## 입력값의 타입: 수치형 vs 리스트 객페현

수치형 : 값에 의한 전달 call by value   
객체형 : 값의 전달 call by reference > 같은 객체를 다룬다

In [27]:
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님!')

greeting('신윤서')

hello, 신윤서님!

In [31]:
#가변인자
# *안 붙어있는건 필수!!!!, * 붙어있는게 가장 마지막에 
def sum_all(arg1, arg2, *args):
    return sum(args)

In [32]:
sum_all(2,6,5,8,6,2)

29

In [33]:
#** dictionary 형식의 args
def print_info(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}: {v}')

In [34]:
#요일 구하는 함수 정의
#입력: yyyy.mm.dd
#출력: '월요일'
# 함수명: 요일찾기()

In [47]:
# 날짜 - 연,월,일 year=2025 month=06 day=05
year=2003
month=4
day=7
total_days = 0
#년도일수 : 입력년도-1*365
#윤년인지 체크 (2월 29일)

for i in range(1,year):
    #윤년 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년 100 나누어 나머지가 0
    if i%400 == 0 :
        total_days += 366
    elif i%100 ==0:
        total_days += 365
    elif i%4 ==0:
        total_days += 366
    else:
        total_days += 365
        
    
#월일수 : 입력한 월 -1*30
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1, month):
    total_days += month_days[m]

#올해가 윤년인지 체크
if month>2:
    if year%400 == 0 :
        total_days += 1
    elif year%100 ==0:
        total_days += 0
    elif year%4 ==0:
        total_days += 1
    else:
        total_days += 0
    
#일수 입력한 일 
total_days += day
print(total_days)

#요일 생성기
remain_days = total_days%7
if remain_days ==1:
    print('월요일')
elif remain_days ==2:
    print('화요일')
elif remain_days ==3:
    print('수요일')
elif remain_days ==4:
    print('목요일')
elif remain_days ==5:
    print('금요일')
elif remain_days ==6:
    print('토요일')
else:
    print('일요일')

731312
월요일

In [1]:
def greet(name, greeting="안녕하세요"):
    print(f"{greeting}, {name}님!")

greet("민수")  # 기본값 사용
greet("영희", "반갑습니다")  # 새로운 값 전달

안녕하세요, 민수님!
반갑습니다, 영희님!

# lambda

- 선언   
lambda <매개변수> : 코드
- 호출   
(lambda <매개변수> : 코드) (매개변수값)

In [1]:
def aaa(a):
    result = a+1
    return result

In [2]:
lambda a : a+1

In [3]:
(lambda a : a+1) (2) #lambda의 정의 즉시 호출

3

In [5]:
my_lambda = lambda a : a+1 #람다의 재정의
my_lambda(3), my_lambda(50)

(4, 51)

In [6]:
def sum1(a,b):
    return a+b
sum1(2,3)

5

In [7]:
(lambda a,b : a+b) (2,3)

5

In [9]:
def calc_func(a,b, opr_func):
    result = opr_func(a,b)
    return result

In [13]:
calc_func(1,2, lambda x,y: x+y) #사칙연산

3

In [14]:
calc_func(1,2, lambda x,y: x*y)

2

In [15]:
calc_func(1,2, lambda x,y: x/y)

0.5

In [18]:
#map 함수
#어떤 리스트에 있는 값을 하나씩 꺼내서 변환
fruits = ['apple', 'banana', 'cherry']
#str.upper 
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [19]:
str_num = '12345'
list(str_num)

['1', '2', '3', '4', '5']

In [22]:
numbers = list(map(int, str_num))
numbers

[1, 2, 3, 4, 5]

In [24]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [34]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]
list(map(lambda x,y,z: x+y+z, kor_score, eng_score, math_score))

[12, 15, 18]

In [37]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]
sum_score = list(map(lambda s: sum(s), zip(kor_score, eng_score, math_score)))
max_score = list(map(lambda s: max(s), zip(kor_score, eng_score, math_score)))
min_score = list(map(lambda s: min(s), zip(kor_score, eng_score, math_score)))
avg_score = list(map(lambda s: sum(s)/3, zip(kor_score, eng_score, math_score)))
print(sum_score, max_score, min_score, avg_score)

[12, 15, 18] [7, 8, 9] [1, 2, 3] [4.0, 5.0, 6.0]