# 예외의 종류

1. 문법오류: SyntaxError, NameError, TypeError
2. 논리오류: 
3. 예외상황

try:
except
10/0

In [6]:
#10/0 ZeroDivisionError

In [10]:
def divide(m, n):
    return m/n

In [20]:
result = divide(3,0)

0으로 나눌 수 없습니다.

In [24]:
def divide(m, n):
    try:
        result = m/n
        return result
    except (ZeroDivisionError, ValueError):
        print('0으로 나눌 수 없습니다. ')
        return None
    except : # 나머지 모든 에러 받기
        print('다른 에러를 발견했습니다.')
    return None

In [22]:
try:
    n = int("abc")
except ValueError:
    print("정수로 변환할 수 없습니다.")
finally = print('0으로 나눌 수 없습니다.')

정수로 변환할 수 없습니다.

In [25]:
# 예외 발생 시키기

In [26]:
raise TypeError

TypeError:

In [27]:
try:
    raise TypeError("입력값 오류")
except TypeError as e:
    print(e.args)

('입력값 오류',)

# 내가 정의하는 예외

1. 예외 클래스 작성 : 각 예외 상황에 맞는 메세지를 작성
2. 호출할 때 try: except로 받아줍니다

In [43]:
class AgeException(Exception):
    def __init__(self,msg):
        self._message = msg

def input_age():
    age = int(input("나이를 입력하세요 : "))

    if age < 0:
        raise AgeException("나이는 음수입니다. ")
    elif age >150:
        raise AgeException("150세 이상???? ")
    else:
        return age

In [44]:
try:
    age = input_age()
except AgeException as e:
    print(e.args[0])

else:
    print(f'입력하신 나이는 {age}세 입니다.')

나이를 입력하세요 :  258

150세 이상????