In [1]:
#초보자를 위한 파이썬 300제
#파이썬 시작하기
#1
print("Hello World")
#2 
print("Mary's cosmetics")
#3
print('신씨가 소리질렀다. "도둑이야".')
#4
print("C:\Windows")
#5
print("안녕하세요. \n만나서\t반갑습니다.")
#6 
print("오늘은", "일요일")
#7 
print("naver", "kakao", "sk", "samsung", sep=";")
#8
print("naver", "kakao", "sk", "samsung", sep="/")
#9
print("first", end=""); print("second")

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
C:\Windows
안녕하세요.
만나서	반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
naver/kakao/sk/samsung
firstsecond

<>:10: SyntaxWarning: invalid escape sequence '\W'
<>:10: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Admin\AppData\Local\Temp\ipykernel_5732\842444797.py:10: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [11]:
#파이썬 변수 
#11
삼성전자 = 50000
총_평가금액 = 삼성전자*10
print(총_평가금액)
#12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.76
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))
#13
s = "hello"
t = "python"
print(s +"!", t)
#14
2 + 2 * 3
#15
a = "132"
print(type(a))
#16
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))
#17    
num = 100
result = str(num)
print(result, type(result))
#18
data = "15.79"
data = float(data)
print(data, type(data))
#19
year = "2020"
year = int(year)
print(year-3, year-2, year-1)
#20
monthly = 48584
no_month = 36
total_price = monthly * no_month
print(total_price)

500000
298000000000000 <class 'int'>
50000 <class 'int'>
15.76 <class 'float'>
hello! python
<class 'str'>
720 <class 'int'>
100 <class 'str'>
15.79 <class 'float'>
2017 2018 2019
1749024

문자열

In [32]:
#21
letters = "python"
print(letters[0], letters[2])
#22
license_plate = "24가 2210"
print(license_plate[-4:])
#23
string = "홀짝홀짝홀짝"
print(string[::2])
#24
string = "PYTHON"
print(string[::-1])
#25 
phone_number = "010-1111-2222"
phone_num2 = phone_number.replace("-"," ")
print(phone_num2)
#26
phone_num2 = phone_num2.replace(" ","")
print(phone_num2)
#27
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[1])
#28 문자열을 immutable
lang = "python"
lang[0] 
print(lang)
#29 replace
string = 'abcdfe2a354a32a'
string = string.replace("a","A")
print(string)
#30
string = "abcd"
string.replace('b','B')
print(string)

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
python
Abcdfe2A354A32A
abcd

In [7]:
#31
a = '3'
b = '4'
print(a + b)
#32
print('Hi'*3)
#33
print('-'*80)
#34
t1 = 'python'
t2 = 'java'
t3 = t1 + " " + t2 + " "
print(t3 * 4)
#35 !!!!! %s 문자열 데이터, %d 정수형 데이터
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))
#36 format()
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))
#37 f-string
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")
#38 remove comma
상장주식수 = "5,969,782,550"
rm_comma = int(상장주식수.replace(",",""))
print(rm_comma)
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
#40
data = "   삼성전자    "
n_data = data.strip()
print(n_data)

34
HiHiHi
--------------------------------------------------------------------------------
python java python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
5969782550
2020/03
삼성전자

In [23]:
#41 upper()
ticker = "btc_krw"
up_ticker = ticker.upper()
print(up_ticker)
#42 lower()
ticker = "BTC_KRW"
lw_ticker = ticker.lower()
print(lw_ticker)
#43 capitalise()
a = "hello"
a = a.capitalize()
print(a)
#44 endswith 
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))
#45
print(file_name.endswith("xls"))
#46 startswith
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))
#47 split()
a = "hello world"
print(a.split())
#48
ticker = "btc_krw"
print(ticker.split("_"))
#49
date = "2020-05-01"
print(date.split("-"))
#49 right space remove, rstrip
data = "039490     "
print(data.rstrip())

BTC_KRW
btc_krw
Hello
True
False
True
['hello', 'world']
['btc', 'krw']
['2020', '05', '01']
039490

In [17]:
#python list 
#51 create list 
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)
#52 list.append()
movie_rank.append("배트맨")
print(movie_rank)
#53 중간 끼워너히 insert(index,"")
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[-2]
print(movie_rank)
#55 del name
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-1]
del movie_rank[-1]
print(movie_rank)
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)
#57 max/min(attribute)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))
#58 sum(attribute)
nums = [1, 2, 3, 4, 5]
print(sum(nums))
#59 no of features? len(attribute)
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))
#60 average func 없음 -> sum/len
nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
print(average)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
7
1
15
12
3.0

In [28]:
#61 slicing 
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])
#66 list에서 모든 값?을 한 번에 출력 ("원하는 거".join(att))
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
#67 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))
#69 split
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)
#70
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[5, 4, 3, 2, 1]
삼성전자 Naver
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
['삼성전자', 'LG전자', 'Naver']
[1, 2, 3, 4, 5, 9, 10]

In [45]:
#python tuple
#71
my_variable = ()
print(type(my_variable))
#72
movie_rank = ('닥터 스트레인지','스플릿','럭키')
print(type(movie_rank))
# 73
my_tuple = (1,)
print(type(my_tuple))
#74
#튜플은 immutable 값을 바꾸는 게 불가능!!
#75
t = 1, 2, 3, 4
print(type(t))
#76 or must make new tuple t = ('A', 'b', 'c')
t = ('a', 'b', 'c')
t = list(t)
t[0] = "A"
t = tuple(t)
print(t)
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_lst = list(interest)
print(interest_lst)
#78 
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tup = tuple(interest)
print(interest_tup)
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
#80 range 함수
data = tuple(range(2,100,2))
print(data)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
('A', 'b', 'c')
['삼성전자', 'LG전자', 'SK Hynix']
('삼성전자', 'LG전자', 'SK Hynix')
apple banana cake
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [1]:
#python dictionary 
#81 별 표현식 
a, b, *c = (0, 1, 2, 3, 4, 5)
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]